*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.chat-container{
    height: 100vh;
}
.top{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background: #63BDFF;
    height: 64px;
    line-height: 64px;
    color: #fff;
    font-size: larger;
    box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
}
.logout-Button{
    display: flex;
    width: 50%;
    justify-content: flex-end;
}
.logout-Button i{
    align-self: center;
    margin-right: 20px;
    cursor: pointer;
}
.first-conversation{
    font-size: larger;
    text-align: center;
    line-height: 64px;
    height: 64px;
    width: 100%;
    box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
}
.main{
    height: calc(100% - 128px);
}
.chat-box{
    height: 100%;
}
.post-message{
    padding:0 20px;
    width: 100%;
    display: flex;
    height: 8%;
    border-top: 1px rgba(44, 101, 144, 0.1) solid ;
}
.post-message input{
    padding: 0 10px;
    outline: none;
    border: none;
    height: 100%;
    width: 97%;
}
.post-message button{
    cursor: pointer;
    outline: none;
    height: 100%;
    border: none;
    width: 3%;
    background-color: #fff;
}
.post-message button i{
    color: #63BDFF ;
    font-size: 20px;
}
.message-box{
    margin: 0 30px; 
    overflow-y:auto;
    padding: 10px 10px;
    height: 92%;
}
.send-message{
    display: flex;
    right: 0;
    flex-direction: column;
}
.send-message-box{
    display: flex;
    color: #ffff;
    width: 100%;
    word-break: break-all;
    justify-content: flex-end;
}
.send-message-content{
    margin-top: 5px;
    padding: 5px 10px;
    height: 30px;
    background: #63BDFF;
    border-radius: 5px;
    max-width: 40%;
    height: max-content;
    word-break: break-all;
}
.receive-message{
    right:0;
}
.receiver{
    padding: 5px;
}
.receive-message-content{
    align-self: flex-start;
    padding: 5px 10px;
    height: 30px;
    background: #c9d4d4;
    border-radius: 5px;
    max-width: 40%;
    height: max-content;
    width: max-content;
    word-break: break-all;
}

/* --------------------------right menu---------------------*/
.slidebar-menu-right
{   
    top: 133px;
    height: 100%;
    box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
    width: 252px;
    padding-left: 25px;
    position: fixed;
    right: 0;
    z-index: 4;
    background-color: white;
    transition: width .35s ease-in-out;
}
.slidebar-menu-right:hover .arrow-right{
    display: flex;
    width: 40px;
}
.card-body{
    margin-top: 5px;
}

.inner-body-card a{
    text-decoration: none;
    margin-top: 10px;
    display: flex;
  
}
.img-card{
    position: relative;
}
.img-card::after{
    content: '';
    top: 36px;
    position: absolute;
    border-radius: 100%;
    z-index: 1;
    border: 2px solid white;
    background-color: #49F0D3;
    height: 16px;
    width: 16px;
    right: 0;
    bottom: -3px;
}
.card-info h6{
    color: #3F414D;
}
.card-info h6:hover{
    color: #4A87C9;
}
.card-info p{
    color: #777D74;
}
.arrow-right{
    position: absolute;
    top:20px;
    right:100%;
    background-color: #50B4FE;
    border-top-left-radius: 70%;
    border-bottom-left-radius: 70%;
    height: 50px;
    width: 0;
    box-shadow: -10px 5px 20px rgba(0, 0, 0, 0.19);
    display: flex;
    cursor: pointer;
    overflow-x: hidden;
    transition: 0.1s ;
}
.arrow-right i{
    margin: auto;
    color: white;
}
.rounded-circle {
    border-radius: 50% !important;
  }
.ml-3{
    margin-left: 1rem !important;
}

/* --------------------------- menu left--------------------- */

.left-menu{
    top: 133px;
    height: 100%;
    box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
    width: 252px;
    position: fixed;
    background-color: white;
    padding: 10px;
    transition: width .35s ease-in-out;
}
.inner-left-menu{
    cursor: pointer;
    padding: 10px;
    transition: width 2s;
}
.wrap{
    margin-bottom: 20px;
    border-bottom: gray 1px solid;
}
.info{
    
}
.content{
    padding-top: 10px;
}
.left-menu:hover .arrow-left{
    display: flex;
    width: 40px;
}
.arrow-left{
    position: absolute;
    top: 20px;
    left:100%;
    background-color: #50B4FE;
    border-top-right-radius: 70%;
    border-bottom-right-radius: 70%;
    height: 50px;
    width: 0;
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.19);
    display: flex;
    cursor: pointer;
    overflow-x: hidden;
    transition: 0.1s ;
}
.arrow-left i{
    margin: auto;
    color: white;
}